<div style="background-color: peachpuff;">
    <h1 style="text-align: center; color: blue; font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">MAGIC</h1>
    <br>
    <div class="container-fluid d-flex justify-content-between" style="margin-top: 10px;" >
        <button class="btn btn-danger" routerLink="/card/Misty Rainforest" style=>Misty Rainforest</button>
        <button class="btn btn-warning" routerLink="/card/Basalt Monolith">Basalt Monolith</button>
        <button class="btn btn-info" routerLink="/card/March of the Canonized">March of the Canonized</button>
        <button class="btn btn-success" routerLink="/card/Tinder Farm">Tinder Farm</button>
        <button class="btn btn-primary" routerLink="/card/Mahamoti Djinn">Mahamoti Djinn</button>
    </div>
    <router-outlet></router-outlet>
</div>