<div class="container">
  <div class="navbar navbar-expand-lg navbar-dark bg-dark">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item nav-link" routerLink="/animals" routerLinkActive="active-menu">Animals</li>
      <li class="nav-item nav-link" routerLink="/fruits" routerLinkActive="active-menu">Fruits</li>
      <li class="nav-item nav-link" routerLink="/generico/animals" routerLinkActive="active-menu"> Animals</li>
<li class="nav-item nav-link" routerLink="/generico/fruits" routerLinkActive="active-menu"> Fruits</li>
    </ul>
  </div>
    <router-outlet></router-outlet>
    <footer class="bg-light text-center">Hello, I'm a footer 😁</footer>
</div>

<app-foo></app-foo>